.loadingIcon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingIcon img{
    width: 50%;
    max-width: 30%;
    /* animation: spin 2s linear infinite; */
}
