.questionPage {
  margin: auto;
  transform: translateY(80%);
}

.options {
  width: 250px;
  margin: 10px auto;
  position: relative;
  background-color: white;
  height: 35px;
}

.options p {
  display: inline-block;
  width: 60%;
  text-align: left;
  margin-top: 6px;
}

.options button {
  position: absolute;
  left: 0;
  height: 100%;
  width: 15%;
}

.question {
  width: 250px;
  margin: auto;
}

.progressBar {
  width: 250px;
  margin: auto;
  height: 85px;
}

.score {
  float: left;
  width: 50%;
}

.Bar {
  float: left;
  width: 50%;
  transform: translateY(85%);
}

.score h2 {
  margin: 0;
}

.score h3 {
  margin: 0;
}
