body{
    background-color: rgb(119, 149, 146);
}

.card_container {
    background-color: rgb(230, 222, 211);
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 16px;
    transition: all 0.3s ease;
    max-width: 400px;
    width: 100%;
    margin-bottom: 16px;
    height: fit-content;
  }

  .card_container h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #333;
  }
  
  .card_container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card_title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .card_desc {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  
  .icon {
      float: right;
    /* display: inline-block; */
  }
